* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-principal: #00030C;
    --branco-principal: #ffffff;
    --cinza-principal: #C0C0C0;
    --botao-azul: #167BF7;
    --detalhe-vermelho: #EC2F46;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #549ffa;
}

body {
    background-color: var(--background-principal);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;

}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}


.botao_sedundario {
    background-color: transparent;
    color: var(--branco-principal);
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-principal);
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;    
    margin: 0 10em ;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;   
}

.descricao__texto {
    color: var(--cinza-principal);
    font-size: 16px;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.footer__texto {
    margin: 1em 0;
    color: var(--cinza-principal);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul)
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--background-principal);
}